.carousel-inner{
    height: 700px;
}

.carousel-inner .carousel-item img{
    height: 700px;
    object-fit: cover;
}

.carousel-caption h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p{
    color: #ffffff;
}

.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowimg{
    max-height: 100px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
}

.rowimg:hover{
    transform: scale(1.09);
    cursor: pointer;
}

.largeposter{
    max-height: 250px;
}

.rowposter::-webkit-scrollbar{
    display: none;    
}

a{
    background-color: #03C988;
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    background-color: #03C988;
    color: #ffffff;
    border: 2px solid #ffffff;
}
